<div class="card shadow mb-4">
    <div class="card-header py-3 text-right">
        <button type="button" href="#" data-toggle="modal" data-target="#newUserModal" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Añadir usuario</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "user: ${userList}">
                        <td th:text = "${user.id}"></td>
                        <td th:text = "${user.name}"></td>
                        <td th:text = "${user.lastName}"></td>
                        <td th:text = "${user.username}"></td>
                        <td th:text = "${user.email}"></td>
                        <td>
                            <a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i class="fas fa-edit"></i></a>
					|       <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-user-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>